extends layout

block content
  div(id='navbar' class='navbar navbar-default navbar-fixed-top')  
    div(class='container-fluid')
      div(class='navbar-header')
        a(class='navbar-brand') 
          strong Dowser
      div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
        ul(class="nav navbar-nav")

  a(id='map')


  div(id='sb' class='col-md-4 hide')
    li
      h1(id='water_title') 
    li 
      h2(id='area')
    li
      h2(id='loss')
  script(src='/javascripts/main.js')

  






