doctype html
html
  head
    title= Dowser
    link(rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v1.0.0-beta.2/leaflet.css")    
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://js.arcgis.com/3.16/esri/css/esri.css")
    script( src="https://js.arcgis.com/3.16/")
    script(src="//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dojo/dojo.js")

  body  
    block content
